<h1>{{title}}</h1>
<p>{{title}}</p>
 <div class="container">
  <div class='header' >
    <h1 class='page-title'>GAlvaNizE ReaDs</h1>
      <div class="btn-group btn-group-justified">
      <a href="/author" class="btn btn-default">AUTHOR</a>
  </div>
<!-- <a href ='/author'>Author</a> -->
  <div class="btn-group btn-group-justified">
    <a href="/book" class="btn btn-default">BOOK</a>
  </div>
 </div>
<!-- <a href ='/book'>Book</a> -->
