<!DOCTYPE html>
<html>
  <head><link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>{{gReads}}</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
